<html>
    <head>
         <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>Hello therec<%= @user.username%>, welcome to New Life Hospital.</h1>
        <p>
            You have successfully signed up to New life.com, your username is: <%= @user.username%>
        </p>

        <p> To login in to the site, just follow the link: <%= @url%></p>
        <p>thanks for joining and have a great day</p>
    </body>
</html>
